# I want to ignore everithing
/*

# Except the gitignore
!.gitignore

# And my configuration files
!/.config
/.config/*
!picom.conf
!/.config/i3
!/.config/alacritty

# I want to save my bashrc too
!.bashrc
!.profile

