# I want to ignore everithing
/*

# Except the gitignore
!.gitignore

# And my configuration files
!/.config
/.config/*
!/.config/sway
!/.config/waybar
!/.config/alacritty
!/.config/wal

# I want to save my zshrc too
!.zshrc
!.profile

