* {
    background-image: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

window {
    background: rgba(43, 36, 31, 0.5);
    background-image: url("/tmp/screen.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    all: unset;
    color: rgb(230, 223, 216);  /* Bianco sporco del cigno */
    font-size: 22px;
    font-family: "JetBrainsMono Nerd Font";
    padding: 1.5em;
    background-color: rgba(43, 36, 31, 0.7);  /* Marrone scuro semi-trasparente */
    margin: 7px;
    border: 2px solid rgba(70, 130, 180, 0.1);  /* Bordo blu sottile */
    border-radius: 10px;
    transition: all 0.2s ease;
    min-width: 100px;
}

button:hover {
    background-color: rgba(70, 130, 180, 0.2);  /* Blu del cielo semi-trasparente */
    border: 2px solid rgb(70, 130, 180);  /* Bordo blu pieno */
    color: rgb(230, 223, 216);  /* Bianco sporco del cigno */
}

/* Stili specifici per ogni bottone con leggere variazioni di colore */
#lock {
    border-color: rgba(70, 130, 180, 0.2);
}

#logout {
    border-color: rgba(74, 124, 61, 0.2);
}

#suspend {
    border-color: rgba(212, 167, 106, 0.2);
}

#hibernate {
    border-color: rgba(139, 94, 43, 0.2);
}

#shutdown {
    border-color: rgba(139, 94, 43, 0.2);
}

#reboot {
    border-color: rgba(70, 130, 180, 0.2);
}

#lock:hover, #logout:hover, #suspend:hover, 
#hibernate:hover, #shutdown:hover, #reboot:hover {
    background-color: rgba(43, 36, 31, 0.9);
    border-width: 2px;
}