* {
    min-height: 0;
    border: none;
}

window#waybar {
    font-family: SF Pro Display;
    font-weight: 300;
    font-size: 15px;
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

#workspaces button {
    font-size: 18px;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 3px 0px 3px;
    color: rgba(95, 111, 128, 0.73);
}


#workspaces button.focused {
    color: #cfd6e6;
    /* margin: 2px 0px 2px 0px; */
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.00);
    /* margin: 2px 0px 2px 0px; */
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #custom-notification, #custom-gpu, #temperature {
    font-size: 18px;
    margin: 0px 10px 0px 5px;
}

#pulseaudio {
    /* border-top: 1px solid transparent; */
    /*margin-left: 15px; */
}

#battery.critical {
     color: #e06c75;
}

#battery.charging {
    color: #5288e2;
}

#battery.full {
    margin: 0px 0px 0px 0px;
}

#network {
    border-top: 1px solid transparent;
}

#network.disconnected {
    margin: 0px 0px 0px 0px;
    color: rgba(75, 81, 98, 0);
}

#pulseaudio.muted {
    margin: 0px 0px 0px 0px;
    color: rgba(75, 81, 98, 0);
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}
